#skill{
    width: 100%;
    margin-top: 7rem;
    background-color: black;
    padding-top:2px;
    padding-bottom:.1rem;
}
#skill>.myskills{
    margin: 7rem auto; 
    width: 90%;
    color: #fff;
}

#skill>.myskills>.titleskill{
    width: 130px;
margin: auto;
font-size:35px;
border-bottom: 2px solid blue;
text-align: center;
padding-bottom: 7px;
}
#skill>.myskills>.serv-content{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}
#skill>.myskills>.serv-content>.card{
    width: 70%;
    height: auto;
    cursor: pointer;
    background-color: rgb(47, 47, 47);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
    border-radius: 7px;
    transition: .2s ease-in-out;
    padding-bottom: 2rem;
}

#skill>.myskills>.serv-content>.card>.boxskill{
    text-align: center;
    margin-top: 30px;   
    transition: .2s ease-in-out;
}
#skill>.myskills>.serv-content>.card>.boxskill .fa-code{
font-size:50px;
margin-bottom: 1rem;
font-family: "Font Awesome 5 Free";
font-weight: 900;
-webkit-font-smoothing: antialiased;
}

.myskills>.serv-content>.card>.boxskill>.aboutskilltype{
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 20px; 
}
.myskills>.serv-content .img-container{
    display: flex;
    gap: 30px;
    box-sizing: border-box;
    flex-wrap: wrap;
    padding: 0 2%;
    justify-content: center;
}
.img-container .box{
    margin-left: 20px;
}
.img-container .box img{
    width:80px;
    height: 30px;
}

#skill > .myskills > .serv-content > .card:hover {
    background-color: blue;
}
#skill > .myskills > .serv-content > .card:hover > .boxskill {
    transform: scale(1.03);
}
#skill>.myskills>.serv-content>.card:hover .fa-code{
    color: black;
}


@media screen and (max-width:950px){
    #skill>.myskills>.serv-content>.card{
        width:100%;
       
    }  
}
@media screen and (max-width:700px){
    #skill>.myskills>.serv-content>.card{
        width:100%; 
    }  
}
